# Dependencias
node_modules

# Build
dist
dist-ssr
.vercel

# APKs (subir a Google Drive u otro host)
public/assets/*.apk

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor / SO
.vscode/*
!.vscode/extensions.json
.DS_Store
*.local

# Variables de entorno
.env
.env.local

.vercel
